<h2 class="sub-header">用户列表</h2>
<div class="table-responsive">
    <!-- Single button -->
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            所有 <span class="caret"></span>
        </button>
    </div>
    <a class="btn btn-success pull-right" [routerLink]="['/list/new']" routerLinkActive="router-link-active" >新增用户</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>姓名</th>
                <th>邮箱</th>
                <th>电话</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td>{{user.tel}}</td>
                <td>
                    <a [routerLink]="['/list/edit',user.username]" routerLinkActive="router-link-active"  href="#">编辑</a>
                    <a (click)="deleteUserByName(user.username,$event)" href="#">&nbsp;删除</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>